doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Document
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    include partials/_favicon.html

    link(rel="stylesheet", href="bower/normalize.css/normalize.css")
    link(rel="stylesheet", href="css/app.css")
    script(src="bower/modernizr/modernizr.js")
body
    header.header
        include partials/_header.jade
    div.container
        //- Navigation aside
        aside.nav
            include partials/_nav.jade
        //- End of navigation navigation aside
        section.main
            include partials/_main.jade
    footer.page-footer
        div.copy © 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(type='text/javascript').
        window.jQuery || document.write('<script src="bower/jquery/dist/jquery.min.js"><\/script>')
    script(src="js/app.js")
