/* Header styles */

body {
  background-image: url(../img/bg-pattern.png);
}
.header {
  height: 119px;
  background-color: rgb(239,243,247);
  background-image: url(../img/header-footer-line.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.header-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0 0;
}

.header-logo {
  width: 243px;
}

.header-social-block {
  list-style: none;
  float: right;
  margin: 5px;
}

.header-social-block li {
  display: inline;
  float: right;
  margin-right: 25px;
}

@import '_social_icons.scss';

/* End of header styles */

/* Main section styles */
.container {
  width: 960px;
  margin: 20px auto;
  min-height: 600px;
  // outline: 1px solid red;
}
.nav {
  width: 250px;
  // outline: 1px solid green;
  min-height: 400px;
}
.wrap {
  width: 650px;
}

@import '_aside.scss';

@import '_contact_icons.scss';