div.header-wrapper
    img(src="img/logo.png", alt="Loft Blog").header-logo
    ul.header-social-block
        li
            a(href="#")
                span.social-sprite.sprite-icon-git
                span.social-text Git
        li
            a(href="#")
                span.social-sprite.sprite-icon-fb
                span.social-text Facebook
        li
            a(href="#")
                span.social-sprite.sprite-icon-twitter
                span.social-text Twitter
        li
            a(href="#")
                span.social-sprite.sprite-icon-vk
                span.social-text Vk