article.person
    div.person-title Основная информация
    div.person-content
        img.person-avatar(src="img/person.jpg", alt="Me")
        div.person-description
            ul
                li
                    span.text-strong Меня зовут:
                    | Борискин Василий
                li
                    span.text-strong Мой возраст:
                    | 29 лет
                li
                    span.text-strong Мой город:
                    | Санкт-Петербург, Россия
                li
                    span.text-strong Моя специализация:
                    | Frontend developer
                li
                    span.text-strong Ключевые навыки:
                    ul.person-description-tags
                        li html
                        li css
                        li javascript
                        li gulp
                        li git


article.job
    div.job-title Опыт работы
    div.job-description
        ul.job-description-list
            li
                div.job-description-subtitle "ГК ГЦЭ" - Системный администратор
                div.job-description-text Июль 2007 - Ноябрь 2008
            li
                div.job-description-subtitle "ООО ИТ Марин Сервис" - Системный администратор
                div.job-description-text  Ноябрь 2008 - по настоящее время

article.education
    div.education-title Образование
    div.education-description
        ul.education-description-list
            li
                div.education-description-subtitle Незаконченное высшее. СПбПУ
                div.education-description-text 2007 - 2010
            li
                div.education-description-subtitle Курсы LoftSchool.ru
                div.education-description-text Март 2015 - по настоящее время