ul.nav-block-main-nav
    li.active
        a(href="#") Обо мне
    li
        a(href="#") Мои работы
    li
        a(href="#") Связаться со мной
ul.nav-block-contact-nav
    li.contact-title Контакты
    li.contact-email
        a(href="mailto:majesko@gmail.com") majesko@gmail.com
    li.contact-phone
        a(href="tel:+7xxx1234567") +7xxx1234567
    li.contact-skype
        a(href="skype:majesko1?chat") majesko1